# Tailscale HTTPS domain - handle multiple services
serverino-polpettino.tailb15f1c.ts.net {
    tls /certs/full-chain.crt /certs/private.key

    # Handle navidrome path without stripping prefix
    handle /navidrome/* {
        reverse_proxy navidrome:4533 {
            header_up X-Forwarded-Proto https
            header_up X-Forwarded-Host {host}
            header_up X-Real-IP {remote}
        }
    }

    # Handle jellyfin path with prefix stripping
    handle_path /jellyfin/* {
        reverse_proxy jellyfin:8096 {
            header_up X-Forwarded-Proto https
            header_up X-Forwarded-Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
        }
    }
    
    handle_path /slskd/* {
       reverse_proxy slskd:5030 {
            header_up X-Forwarded-Proto https
            header_up X-Forwarded-Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
        }
    }

    # Root path - show available services
    handle / {
        respond "Available services: /navidrome /jellyfin /slskd"
    }
}
