name: mediaserver

services:
    navidrome:
      image: deluan/navidrome:latest
      container_name: navidrome
      ports:
        - "4533:4533"
      environment:
        - ND_DATAFOLDER=/data
        - ND_CONFIGFILE=/config/navidrome.toml
      volumes:
        - navidrome-data:/data
        - "./navidrome.toml:/config/navidrome.toml:ro"
        - "/Volumes/koh-i-nur/Apple\ Music\ Library/Music:/music:ro"
      restart: unless-stopped
      networks:
        - mediaserver-network

    jellyfin:
      image: jellyfin/jellyfin:latest
      container_name: jellyfin
      ports:
        - "8096:8096"
      environment:
        - JELLYFIN_PublishedServerUrl=
      volumes:
        - jellyfin-config:/config
        - jellyfin-cache:/cache
        - jellyfin-data:/data
        - jellyfin-log:/log
        - jellyfin-metadata:/metadata
        - jellyfin-plugins:/plugins
        - "/Volumes/koh-i-nur:/media:ro"
      restart: unless-stopped
      networks:
        - mediaserver-network

    slskd:
      image: slskd/slskd
      container_name: slskd
      ports:
        - "5030:5030"
        - "5031:5031/tcp"
        - "50300:50300/tcp"
      environment:
        - SLSKD_REMOTE_CONFIGURATION=true
        - SLSKD_SLSK_USERNAME=${SLSKD_SOULSEEK_USERNAME}
        - SLSKD_SLSK_PASSWORD=${SLSKD_SOULSEEK_PASSWORD}
        - SLSKD_USERNAME=${SLSKD_WEB_USERNAME}
        - SLSKD_PASSWORD=${SLSKD_WEB_PASSWORD}
      volumes:
        - slskd-data:/app
        - slskd-incomplete:/app/incomplete
        - "./slskd.yml:/app/slskd.yml:ro"
        - "/Volumes/koh-i-nur/Apple\ Music\ Library/_Downloads/:/app/downloads:rw"
        - "/Volumes/koh-i-nur/Apple\ Music\ Library/Music/:/music:ro"
      restart: unless-stopped
      networks:
        - mediaserver-network

    caddy:
      build:
        context: .
        dockerfile: Dockerfile.caddy
      container_name: caddy
      restart: unless-stopped
      ports:
        - "80:80"
        - "443:443"
      environment:
        - TS_AUTHKEY=${TS_AUTHKEY}
      volumes:
        - ./Caddyfile:/etc/caddy/Caddyfile:ro
        - caddy_data:/data
        - ./certs/full-chain.crt:/certs/full-chain.crt:ro
        - ./certs/private.key:/certs/private.key:ro
      networks:
        - mediaserver-network
      depends_on:
        - navidrome
        - jellyfin
        - slskd

volumes:
    navidrome-data:
    slskd-data:
    slskd-incomplete:
    caddy_data:
    jellyfin-config:
    jellyfin-cache:
    jellyfin-data:
    jellyfin-log:
    jellyfin-metadata:
    jellyfin-plugins:

networks:
    mediaserver-network:
      driver: bridge

