nicotine
MusicBrainz
MusicBrainz
gh
github-copilot
tmux/plugins
.claude
1Password/ssh
btop
configstore
fish/conf.d/secrets.fish
glab-cli
htop
karabiner
mcphub
raycast/extensions
uv
zed
zsh/secrets.sh
